# Markdown

This is a "markdown" cell. You can write text in here, and then have it automatically rendered in Jupyter. You can have formatting like _italics_ or **bold** font. You can also write math with $\LaTeX$:
$$
e^{i \theta} = \cos \theta + i \sin \theta.
$$
You can also write formatted code, either `inline` or in a codeblock, as below:
```python
>>> print("Hello, world!")
Hello, world!
```
To "execute" a cell, you can click the "Play" button in the top toolbar, or hit `Shift+Enter`.

# Basics

In [ ]:
# This is a "code cell", and will be executed as Python code.
# These are in-line comments, which are denoted by the `#` symbol.
# It's also possible to write multi-line comments with triple quotes `'''` or `"""`,
# but these are generally reserved to write things called "docstrings" (which we'll
# talk about more later)

In [ ]:
# `print` is a built-in funciton that will print something to the screen.
# Here is "Hello, world!":
print("Hello, world!")

In [ ]:
# We can assign values to variables using the assignment operator `=`.
# We write the name of the variable, then the value we would like to be assigned to it.
# Unlike C++, we don't need to specify the variable type before we use it. It's the Wild West!
x = 3.4
y = 8
z = x + y
print(z)  # we can print variable names
print(f"{z}")  # this is an "f-print" statement, which will automatically use the variable name

In [ ]:
# `print` can take multiple arguments
print(x, y, z)
print("x:", x, "y: ", y, "z: ", z)
print(f"x: {x} y: {y} z: {z}")

# Variable Types
Python has a few different built-in variable types. Let's look at a few of them:

In [ ]:
# integer
x = 123
print(type(x))

In [ ]:
print(10 ** 100)  # exponentiation: 10 to the 100th power

In [ ]:
# floating point
y = 1.23
print(type(y))

In [ ]:
# complex number
z = 3.2 + 1.3j
print(type(z))

In [ ]:
# real and imaginary parts are separately floats
print(type(z.real), type(z.imag))

In [ ]:
# "normal" division returns a float, even with integer arguments
print(5 / 2)
print(type(5 / 2))

In [ ]:
# but! there's a special `//` operator that does integer floor division
print(5 // 2)
print(type(5 // 2))

In [ ]:
# we also have string data
mystring1 = "Hello,"
mystring2 = 'world!' # single and double quotes are interchangable
print(mystring1, mystring2)

In [ ]:
# we have boolean variables
veritas = True
null = False
print(type(veritas))

In [ ]:
# we can assign the output of comparison operators to boolean variables
bigger = 5 > 3
print(bigger)

# Casting

In [ ]:
# just like in C++, we can "cast" variables of one type to another
# Python does it using built-in functions
myfloat = float(3)
print(myfloat)
print(type(myfloat))

In [ ]:
# we can go from float -> int as well
myint = int(3.4)
print(myint)
print(type(myint))

In [ ]:
# we can also convert strings (if they're formatted right!)
myint = int("3")
print(myint)

In [ ]:
# problem!
myint = int("foo")
print(myint)

In [ ]:
print(myint)

# Collections
Python supports a few different kinds of "collections" of objects. Let's start with a few.

## Tuples

In [ ]:
a = (1, 2, 3)
print(a)

In [ ]:
b = (1, 5.2, "hello")
print(b)

We can _index_ into a collection using the `[]` notation.

In [ ]:
print(a[1])

In [ ]:
example_tuple = tuple(range(10))  # Make a tuple containing numbers from zero to nine
example_slice = example_tuple[1:5]  # Get elements 1 through 5, exclusive
evens = example_tuple[::2]  # Start at element 0 and retrieve every other element
odds = example_tuple[1::2]  # Start at element 1 and retrieve every other element
reverse = example_tuple[::-1]  # Retrieve the elements in reverse order
last_few = example_tuple[-4:]  # Retrieve the last four elements of the tuple
print("We start with: ", example_tuple)
print("The first slice gives: ", example_slice)
print("The second slice gives the even numbers: ", evens)
print("The third slice gives the odd numbers: ", odds)
print("The fourth slice gives the numbers in reverse: ", reverse)
print("The fifth slice gives the last four numbers: ", last_few)

In [ ]:
print(example_tuple[20])

In [ ]:
# Try to change an element of a tuple
a = (1, 2, 3)
a[1] = 5

## Lists

In [ ]:
example_list = [1, 2, 3]
example_list[1] = "banana"
print(example_list)

In [ ]:
list2 = example_list + [4]
print(list2)

In [ ]:
example_list.append(4)
print(example_list)

## Sets

In [ ]:
list(set([3, 1, 5, 7, 2, 15]))

In [ ]:
base_set = {1, 2, 3}
new_set = base_set.union({3,4,5})  # Make a new set that is the union of base_set and {3,4,5}
print(base_set, new_set)

In [ ]:
other_set = set([3,1,2])  # A list can be cast to a set
print(other_set)  # Sets are automatically ordered if possible

In [ ]:
unique_chars = set("fad adf daf fffddaa")  # Sets can extract the unique characters in a string
print(unique_chars)

In [ ]:
unsorted_list = [1, 5, 3, 13, 12, 7, 2, 5]
sorted_unique_list = list(set(unsorted_list))  # Sort and extract unique elements
sorted_list = sorted(unsorted_list)  # Sort the list using the builtin sorted function
print("The original list is: ", unsorted_list)
print("The unique, sorted elements are:", sorted_unique_list)
print("The sorted elements are: ", sorted_list)

In [ ]:
# Try indexing into a set
print(base_set[1])

## Dictionaries

In [ ]:
this_dict = dict(key1=1, key2="fish")
that_dict = {"key2": "value2", "key1": "value1"}
print(this_dict)
print(that_dict)

In [ ]:
example_dict = dict(alpha="value1", gamma="value3", beta="value2")
value2 = example_dict['beta']  # Retrieve the value associated with the key 'beta'
example_dict['beta'] = 0.9999  # Update the value associated with the key 'beta'
print("The value associated with key 'beta' is: ", value2)
print("The updated dictionary is: ", example_dict)

# Conditionals

In [ ]:
x = 13
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")
    print("hi")

In [ ]:
x = 9
if x % 2 == 0:
    print("x is even")
elif x % 3 == 0:
    print("x is odd and divisible by 3")
else:
    print("x is odd and not divisible by 3")

# Loops

In [ ]:
counter = 0
while counter < 5:  # As long as counter is less than 5, keep executing the code below
    print(counter)  # Print where we're at
    counter += 1  # Increase the counter by one

In [ ]:
# Let's write a for loop that effectively does the same thing as the previous cell
for counter in range(5):
    print(counter)

In [ ]:
for x in range(5):
  y = 15
    print(x)

In [ ]:
for x in range(1,5):  # Loop over numbers from 1 through 4
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")

In [ ]:
count = 0
while True:  # Loop forever
    if count > 3:
        break
    count += 1
print("We made it out!")

In [ ]:
test_dict = dict(a=1, b=2, c=3)
for key, value in test_dict.items():
    print(key, value)

# Functions

In [ ]:
# First, let's define a function that takes no arguments and just prints something
def test_function():
    print("This is my simple function.")

In [ ]:
# We can now use the function, like so
test_function()

In [ ]:
# Now let's write a function that takes the square of the input number
def square(num):
    return num ** 2

In [ ]:
x = square(3)
print(x)

In [ ]:
# Now let's write a function that converts the input to a different type 
def convert(value, new_type=str):
    if new_type not in (int, float, complex, bool, str):
        print("New type not understood! Returning input as-is.")
        new_value = value
    else:
        new_value = new_type(value)
    return new_value

In [ ]:
# Now let's test it out
string_num = "5.234+2.11j"
complex_num = convert(string_num, new_type=complex)
print(complex_num)

# Classes

In [ ]:
class Dog:
    """Create a virtual friend with this class!"""
    def __init__(self, name, age, bark_mode="Arf!"):
        """This routine gives a recipe for making an instance of a dog."""
        self.name = name
        self.age = age
        self.bark_mode = bark_mode
        
    def __repr__(self):
        """This magic method tells how to get a string representation of an instance."""
        return self.name
        
    def bark(self):
        """Make the dog bark!"""
        print(self.bark_mode)

In [ ]:
this_dog = Dog("Alfie", 4, "WOOF")  # This makes an instance of the Dog

In [ ]:
this_dog.bark()  # Let's see how it barks!

In [ ]:
print(this_dog)  # Let's see what it's called

In [ ]:
print(type(this_dog))